<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
      <img src={{destino.imagenUrl}} alt="">
      <span><h4>{{position}}</h4></span>
    </div>

    <div class="card-desc">
      <h3>{{destino.nombre}}
        <span *ngIf=destino.isSelected()>
          <span class="badge badge-secondary">Preferido</span>
        </span>
      </h3>
      <p>Servicios</p>
      <ul>
        <li *ngFor="let s of destino.servicios">
          <span  [ngSwitch]="s">
            <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
            <i *ngSwitchDefault>{{s}}</i>
        </span>
        </li>
      </ul>
      <a href="#" class="btn-card" (click) = "ir()"  appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
      <a [routerLink]="['/destino', destino.id]">Ver Detalle</a>
      <div class="card-footer  d-flex justify-content-between  align-items-center">
        <a href="#" (click)="voteUp()"  appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
		      <i class="material-icons md18">thumb_up</i>
	      </a>
        <a href="#" (click)="voteDown()"  appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
		      <i class="material-icons md18">thumb_down</i>
	      </a>
        <span class="badge badge-secondary">{{destino.votes}}</span>
        <a href="#" (click)="voteClean()"  appTrackearClick data-trackear-tags="destino_vote_clean lista_destinos_item" title="Resetear todas las votaciones">
          <i class="material-icons md18">clean_hands</i>
        </a>
      </div>
      <!--<span ngNonBindable>{{Funca?}}</span>-->
      <!--<span [style.display]="destino.isSelected() ? '':'none'">- PREFERIDO -</span>-->
    </div>
</div>
