<div class="page-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Wishlist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/home']"  routerLinkActive="router-link-active">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/vuelos']">Vuelos</a></li>
      </ul>
    </div>
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
  </nav>

   <div class="jumbotron">
        <h1>
          {{ title.split("-")[1] }} <b [innerHTML]="'HOLA' | translate"></b>
        </h1>
        <hr class="my-4">
        <p class="lead">El viaje de tus sueños</p>
    </div>
</div>

<!--
<div class="container-fluid">
  <div class="row">
      <div class="container-lg">
            <app-lista-destinos></app-lista-destinos>
      </div>
  </div>
</div>
-->
<div class="container-fluid">

<router-outlet></router-outlet>
</div>

<footer>
<hr class="mn-5">
Fecha: {{ time | async }}
</footer>